<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gesdon{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" type="text/css">
        {% endblock %}

        {% block javascripts %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div>
                <a href="{{ path('donateur_search') }}">Donateurs</a>
                <a href="{{ path('adresse_search') }}">Adresses</a>
                <a href="{{ path('don_search') }}">Dons</a>
            </div>
        {% endblock %}
    </body>
</html>
