{# src/Gesdon2Bundle/Resources/views/Default/ajouter.html.twig #}
{# formulaire de création des objets #}

{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <h3>Cr&eacute;er un {{ objet }}</h3>

    {# le formulaire est affiché ici #}
    {{ form(form) }}

    {# bouton d'annulation. Retourne à la liste des objets.#}
    {#TODO déplacer action dans le contrôleur, peut être?#}
    <form action="{{ path("gesdon2_homepage",{'nomEntite':objet}) }}" method="get">
        <input type="submit" value="Annuler">
    </form>
{% endblock %}