{# src/Gesdon2Bundle/Resources/views/Default/cree.html.twig #}
{# TODO À SUPPRIMER #}

{% block title %}

	<h1>{{ nomEntite }} créé(e).</h1>
    <form action="{{ path("gesdon2_homepage",{'nomEntite':nomEntite}) }}" method="get">
        <input type="submit" value="OK">
    </form>
{% endblock %}