{# src/Gesdon2Bundle/Resources/views/Default/edit.html.twig #}
{# Formulaire de modification général #}

{% extends '::base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Modifier {{ entity }}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('list',{'entity':entity}) }}">
            Retour à la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
