{# src/Gesdon2Bundle/Resources/views/Default/new.html.twig #}
{# Formulaire de création général #}

{% extends '::base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}

{% block body -%}
    <h1>Créer un(e) {{ entity }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path("list",{'entity':entity}) }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
