{# src/Gesdon2Bundle/Resources/views/Don/table.html.twig #}

<html>
<head>
{% stylesheets '@Gesdon2Bundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
{% endstylesheets %}
</head>
<body>
{% block body -%}

    <table id="entities">
        <tr>
            <th>ID</th>
            <th>Donateur</th>
            <th>Adresse</th>
            <th>Date</th>
            <th>Montant</th>
            <th>Moyen</th>
            <th>Description</th>
            <th>Récurrence</th>
            <th>N° Transaction</th>
            <th>Fin Récurrence</th>
            <th>Courriel</th>
        </tr>
    {# pour chaque instance de l'entité... #}
        {% for instance in instances %}
            {# faire une ligne sur deux de classe 'alt', pour mise en forme #}
            <tr {% if loop.index is divisible by(2) %} class="alt"{% endif %}>
            {# pour chaque champ de l'instance... #}
            {% for v in instance|to_array %}
                <td>
                {# afficher la valeur du champ #}
                {# le cas échéant, convertir la date en chaîne de caractères formatée #}
                {% if v.timestamp is defined %}
                    {{ v|date('Y-m-d') }}
                {% else %}
                    {{ v }}
                {% endif %}
                </td>
            {% endfor %}
                {# afficher les liens vers le formulaire de modification dans la dernière colonne #}
                <td>
                    <a href="{{ path('don_edit', { 'id': instance.id }) }}">modifier</a>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
</body>
</html>