{# src/Gesdon2Bundle/Resources/views/Donateur/header.html.twig #}

{% form_theme list_form 'form_table_layout.html.twig' %}

<html>
<head>
{% stylesheets '@Gesdon2Bundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
{% endstylesheets %}
</head>
<body>
{% block body -%}
    {# Titre #}
    <h1>Donateur</h1>
    {# Actions #}
    <table id="entities">
        <tr>
            <td>
                <a href="{{ path('donateur_new') }}">
                    Créer une nouvelle entrée
                </a>
            </td>
            <td>
                <a href="{{ path('index') }}">
                    Revenir au menu
                </a>
            </td>
        </tr>
    </table>

{% endblock %}
</body>
</html>